# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\实验室资料\徐\acvppre\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
